$white: #fff;
$gray: #faf9f6;
$light-gray: #e1e1e1;
$light-light-gray: #f5f5f5;
$dark-gray: #4D4D4D;
$red: #f52350;
$view-background-color: #f5f5f5;
$area-border-color: $dark-gray;
$border-color-edit: black;
$area-no-printable-background-color: rgba(255, 0, 0, 0.2);
$text-border-color: black;
$nav-views-border-color: #585858;
$toast-color: white;
$toast-background-color: red;
$icons-img: url("product-customizer-icons.png");
$primary-font: "Roboto Slab";

body {
    background-image: none;
}

#product-customizer {
    width: 1170px;
    margin: 0px auto;
    .col-1 {
        float: left;
        width: 288px;
        padding: 15px 0 0 15px;
        margin: 0;
    }
    .col-2 {
        float: left;
        border-left: 1px solid $light-gray;
        width: 846px;
        padding: 0 10px;
        h1 {
            display: block;
            text-align: center;
            color: black;
            border-bottom: 1px solid $light-gray;
            padding: 20px 0;
            font-size: 22px;
            font-family: $primary-font;
        }
    }
}

.logo {
    width: 228px;
}

#toast {
    display: none;
    position: absolute;
    height: 35px;
    line-height: 35px;
    color: $toast-color;
    background-color: $toast-background-color;
    text-align: center;
    z-index: 1;
    width: 700px;
    border-radius: 10px;
    top: 140px;
    right: 85px;
    font-size: 14px;
}

#wrapper-view {
    position: relative;
    background-color: $view-background-color;
    width: 840px;
    height: 770px;
    margin: auto;
}

#view {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 140px;
    top: 20px;
}

#nav-main {
    position: absolute;
    list-style-type: none;
    width: 270px;
    margin-top: 50px;
    padding-left: 0;
    li {
        background-color: $white;
        height: 74px;
        display: block;
        margin-bottom: 10px;
        &:hover {
            color: $red;
            cursor: pointer;
        }
        .nav-main-item-label {
            display: inline-block;
            margin: -64px 0 0 20px;
            font-size: 20px;
            vertical-align: middle;
            font-family: $primary-font;
        }
    }
    #btn-save {
        width: 100%;
        margin-top: 110px;
        border-radius: 10px;
        color: white;
        background-color: $red;
        padding: 20px 20px;
        font-size: 18px;
        font-family: $primary-font;
        &:hover {
            color: black;
            cursor: pointer;
        }
    }
    .nav-main-colors {
        position: absolute;
        margin-top: 10px;
        padding: 12px 20px 0 20px;
        border: 1px solid $light-gray;
        border-radius: 10px;
        background-color: white;
        li{
            display: inline-block;
            margin-right: 24px;
            width: 34px;
            height: 34px;
            border: 1px solid $light-gray;
            background-color: $red;
            &:nth-child(4), &:nth-child(8){
                margin-right: 0;
            }
        }
    }
}

#wrapper-aux-menu {
    width: 100%;
    padding: 5px;
    height: 34px;
    margin: 10px 0;
}

#aux-menu {
    display: none;
    margin: 0 auto;
    select {
        margin-top: 15px;
    }
    input {
        display: inline-block;
        height: 32px;
        width: 50px;
        margin: 0;
        padding: 0 15px;
        margin-left: 15px;
        border-radius: 5px;
        vertical-align: top;
    }
    .wrapper-sel-family {
        display: inline-block;
        width: 180px;
    }
    .ui-state-default, .ui-state-hover {
        background: none;
    }
    #inp-size {
        background: $icons-img  no-repeat;
        padding-right: 10px;
        width: 60px;
        background-position: -806px -780px;
        margin-left: 0;
    }
    .wrapper-color {
        display: inline-block;
    }
    .cp-alt-target {
        position: absolute;
        top: 93px;
        left: 715px;
    }
    .cp-alt {
        padding: 0px 10px 0 40px;
    }
}

#nav-views {
    position: absolute;
    list-style-type: none;
    top: 775px;
    padding: 0;
    li {
        display: inline;
        margin-left: 40px;
        img {
            width: 100px;
            height: 100px;
            border: 1px solid $nav-views-border-color;
            -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
            &:hover, &.active {
                border: 1px solid $red;
            }
        }
    }
}

.btn-fancy-close {
    position: absolute;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    background: transparent url('../fancybox/fancybox.png') -40px 0px;
    cursor: pointer;
}

.nav-views-close {
    margin-left: 90px;
}

.upload-form-close {
    margin-left: 285px;
}

.msg-modal-close, .reset-modal-close {
    margin-left: 145px;
    margin-top: -28px;
}

.wrapper-custom-element {
    position: absolute !important;
}

.custom-element {
    position: absolute;
}

.btn-move-custom-element, .btn-del-custom-element, .btn-to-front-custom-element, .btn-to-submit-text {
    display: none;
    position: absolute;
    background: $icons-img  no-repeat;
    width: 40px;
    height: 40px;
}

.btn-move-custom-element {
    top: 0;
    left: 0;
    background-position: -10px -673px;
    cursor: move;
}

.btn-to-front-custom-element {
    top: 0;
    right: 0;
    background-position: -60px -673px;
    cursor: alias;
}

.btn-del-custom-element {
    bottom: 0;
    left: 0;
    background-position: -110px -673px;
    cursor: not-allowed;
}

.ui-resizable-se {
    background: $icons-img  no-repeat;
    background-position: -160px -673px;
    width: 40px;
    height: 40px;
}

.btn-to-submit-text {
    bottom: 0;
    width: 25%;
    left: 38%;
    height: 38px;
    border: 1px solid black;
    font-size: 16px;
    cursor: pointer;
    background-image: none;
    text-align: center;
    color: black;
    background-color: white;
    &:hover{
        background-color: $red;
    }
    span {
        display: block;
        margin-top: 10px;
    }
}

.custom-element-edit {
    border: 1px dashed;
}

.custom-element-bad-position {
    border: 1px dashed red !important;
}

.area {
    border: 1px solid;
}

.area-circle {
    border-radius: 50%;
}

.area-no-printable {
    background-color: $area-no-printable-background-color;
}

.text {
    border: 1px dotted transparent;
    background-color: transparent;
    resize: none;
    overflow:hidden;
}

.cp-alt-target {
    width: 15px;
    height: 15px;
}

.ui-colorpicker input {
    width: auto;
}

.ui-colorpicker label {
    margin: 0px 0px 0px 10px;
}

.img, .svg {
    border: 1px dotted transparent;
    cursor: move;
}

.img img{
    width: 100%;
}

.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
}

#wrapper-msg-modal {
    .overlay {
        z-index: 101;
    }
    .modal {
        width: 300px;
        margin: 300px auto;
        background-color: #fff;
        padding: 15px;
        text-align: center;
        p {
            font-size: 16px;
            margin-top: 10px;
            color: black;
        }
        button {
            margin-top: 15px;
            width: 120px;
            border-radius: 5px;
            background-color: #5e5e5e;
            color: white;
            padding: 10px;
            cursor: pointer;
            &:hover {
                background-color: $red;
            }
        }
    }
}

#wrapper-reset {
    .modal {
        width: 300px;
        margin: 300px auto;
        background-color: #fff;
        padding: 15px;
        text-align: center;
        p {
            font-size: 16px;
            margin-top: 10px;
            color: black;
        }
        button {
            margin-top: 15px;
            width: 120px;
            border-radius: 5px;
            background-color: #5e5e5e;
            color: white;
            padding: 10px;
            cursor: pointer;
            &:hover {
                background-color: $red;
            }
        }
    }
}

#wrapper-upload-form {
    .modal {
        background-color: white;
        margin: 300px auto;
        width: 600px;
        h3 {
            font-family: $primary-font;
            color: black;
            font-size: 16px;
        }
        .gray-bck {
            background-color: #f5f5f5;
            padding: 20px 0;
        }
        .inp-file {
            width: 80%;
            padding: 15px 5px;
            color: $red;
        }
        #btn-submit {
            margin-top: 15px;
            width: 120px;
            border-radius: 5px;
            background-color: #5e5e5e;
            color: white;
            padding: 10px;
            &:hover {
                background-color: $red;
            }
        }
        form {
            padding: 10px;
            img.loading {
                display: none;
            }
        }
    }
}

#wrapper-svg-picker {
    .modal {
        background-color: white;
        margin: 150px auto;
        width: 600px;
        max-height: 500px;
        overflow: auto;
        form {
            img.loading {
                display: none;
            }
        }
    }
    ul {
        list-style-type: none;
    }
    ul li {
        display: block;
        border: 1px solid $light-gray;
        width: 60px;
        height: 60px;
        float: left;
        padding: 15px;
        cursor: pointer;
        &:hover {
            background-color: $light-gray;
            cursor: pointer;
        }
        img {
            width: 60px;
            height: 60px;
        }
    }
}

.icon {
    display: inline-block;
    background: $icons-img  no-repeat;
    cursor: pointer;
}

.icon-nav-main {
    width: 74px;
    height: 74px;
    background-position-x: -10px;
    &:hover{
        background-position-x: -94px;
    }
}

.icon-add-view {
    background-position-y: -95px;
}

.icon-add-view-img {
    background-position-y: -177px;
}

.icon-add-area {
    background-position-y: -258px;
}

.icon-add-text {
    background-position-y: -340px;
}

.icon-add-svg {
    background-position-y: -421px;
}

.icon-add-img {
    background-position-y: -503px;
}

.icon-reset {
    background-position-y: -584px;
}

.icon-color {
    width: 70px;
    height: 70px;
    border: 4px solid $light-gray;
    background: initial;
    background-color: green;
}

.icon-area {
    width: 34px;
    height: 34px;
    background-position-y: -10px;
    margin-right: 10px;
    &:hover {
        background-position-y: -51px;
    }
}

.icon-area-rectangle {
    background-position-x: -10px;
}

.icon-area-ellipse {
    background-position-x: -52px;
}

.icon-area-printable {
    width: 46px;
    background-position-x: -95px;
}

.icon-area-no-printable {
    margin-right: 0;
    width: 48px;
    background-position-x: -150px;
}

.icon-area-ok {
    margin: 0 0 0 10px;
    background-position-x: -204px;
}

.icon-text {
    width: 40px;
    height: 34px;
    background-position-y: -779px;
    margin-right: 10px;
    &:hover {
        background-position-y: -829px;
    }
}

.icon-text-bold {
    margin-left: 15px;
    background-position-x: -546px;
}

.icon-text-italic {
    background-position-x: -595px;
}

.icon-text-l {
    background-position-x: -644px;
}

.icon-text-m {
    background-position-x: -693px;
}

.icon-text-r {
    background-position-x: -742px;
    margin-right: 0;
}
