$white: #fff;
$gray: #faf9f6;
$light-gray: #e1e1e1;
$light-light-gray: #f5f5f5;
$dark-gray: #4D4D4D;
$red: #f52350;
$view-background-color: #f5f5f5;
$area-border-color: $dark-gray;
$border-color-edit: black;
$area-no-printable-background-color: rgba(255, 0, 0, 0.2);
$text-border-color: black;
$nav-views-border-color: #585858;
$toast-color: white;
$toast-background-color: red;
$icons-img: url("product-customizer-icons.png");

body {
    background-image: none;
}

#product-customizer {
    width: 1170px;
    margin: 0px auto;
    .col-1 {
        float: left;
        width: 288px;
        padding: 15px 0 0 15px;
        margin: 0;
    }
    .col-2 {
        float: left;
        border-left: 1px solid $light-gray;
        width: 866px;
        h1 {
            display: block;
            margin: auto;
            width: 96%;
            clear: both;
            text-align: center;
            color: black;
            border-bottom: 1px solid $light-gray;
            padding: 20px 0;
            font-size: 22px;
            font-family: "Roboto Slab";
        }
    }
}

.logo {
    width: 228px;
}

#toast {
    display: none;
    position: absolute;
    width: 300px;
    right: 100px;
    color: $toast-color;
    background-color: $toast-background-color;
}

#wrapper-view {
    position: relative;
    background-color: $view-background-color;
    width: 840px;
    height: 785px;
    margin: auto;
    margin-top: 60px;
}
#view {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 140px;
    top: 20px;
}

#nav-main {
    position: absolute;
    list-style-type: none;
    width: 250px;
    margin: 40px 0 20px 0;
    padding-left: 0;
    li {
        background-color: $white;
        height: 74px;
        display: block;
        margin-bottom: 10px;
        &:hover {
            color: $red;
            cursor: pointer;
        }
        .nav-main-item-label {
            display: inline-block;
            margin: -64px 0 0 20px;
            font-size: 20px;
            vertical-align: middle;
            font-family: "Roboto Slab";
        }
    }
}

#aux-menu {
    display: none;
    position: absolute;
    width: 140px;
    margin: 400px 0 20px 15px;
    padding: 5px;
    border: 1px solid #e9e9e9;
    background-color: white;
    select {
        margin-top: 15px;
    }
    input {
        width: 40px;
    }
    .wrapper-size, .wrapper-color {
        margin: 15px 0;
        width: 100%;
        clear: both;
    }
}

#nav-views {
    position: absolute;
    list-style-type: none;
    top: 775px;
    padding: 0;
    li {
        display: inline;
        margin-left: 40px;
        img {
            width: 110px;
            height: 110px;
            border: 1px solid $nav-views-border-color;
            &:hover {
                border: 1px solid $red;
            }
        }
    }
}

.btn-fancy-close {
    position: absolute;
    top: -15px;
    margin-left: 100px;
    width: 30px;
    height: 30px;
    background: transparent url('../fancybox/fancybox.png') -40px 0px;
    cursor: pointer;
}

.wrapper-custom-element {
    position: absolute !important;
}

.custom-element {
    position: absolute;
}

.btn-move-custom-element, .btn-del-custom-element, .btn-to-front-custom-element, .btn-to-submit-text {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
}

.btn-move-custom-element {
    top: 0;
    left: 0;
    background-position: -10px -667px;
    cursor: move;
}

.btn-del-custom-element {
    top: 0;
    right: 0;
    background-color: red;
    cursor: not-allowed;
}

.btn-to-front-custom-element {
    bottom: 0;
    left: 0;
    background-color: yellow;
    cursor: alias;
}

.btn-to-submit-text {
    bottom: 0;
    left: 30px;
    cursor: pointer;
    background-color: green;
}

.custom-element-edit {
    border: 1px solid $border-color-edit !important;
}

.custom-element-bad-position {
    border: 1px solid red !important;
}

.area {
    border: 1px solid $area-border-color;
}

.area-circle {
    border-radius: 50%;
}

.area-no-printable {
    background-color: $area-no-printable-background-color;
}

.text {
    border: 1px dotted transparent;
    background-color: transparent;
    resize: none;
    overflow:hidden;
}

.cp-alt-target {
    width: 15px;
    height: 15px;
}

.ui-colorpicker input {
    width: auto;
}

.ui-colorpicker label {
    margin: 0px 0px 0px 10px;
}

.img, .svg {
    border: 1px dotted transparent;
}

.img img{
    width: 100%;
}

.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
}

#wrapper-msg-modal {
    .overlay {
        z-index: 101;
    }
    .modal {
        width: 300px;
        margin: 300px auto;
        background-color: #fff;
        border:1px solid #000;
        padding:15px;
        text-align:center;
    }
}

#wrapper-upload-form {
    .modal {
        background-color: white;
        margin: 150px auto;
        width: 600px;
        form {
            img.loading {
                display: none;
            }
        }
    }
}

#wrapper-svg-picker {
    .modal {
        background-color: white;
        margin: 150px auto;
        width: 600px;
        max-height: 500px;
        overflow: auto;
        form {
            img.loading {
                display: none;
            }
        }
    }
    ul {
        list-style-type: none;
    }
    ul li {
        display: block;
        border: 1px solid $light-gray;
        width: 60px;
        height: 60px;
        float: left;
        padding: 15px;
        cursor: pointer;
        &:hover {
            background-color: $light-gray;
            cursor: pointer;
        }
        img {
            width: 60px;
            height: 60px;
        }
    }
}

.icon {
    display: inline-block;
    background: $icons-img  no-repeat;   
}

.icon-nav-main {
    width: 74px;
    height: 74px;
    background-position-x: -10px;
    &:hover{
        background-position-x: -94px;
    }
}

.icon-add-view {
    background-position-y: -95px;
}

.icon-add-view-img {
    background-position-y: -177px;
}

.icon-add-area {
    background-position-y: -258px;
}

.icon-add-text {
    background-position-y: -340px;
}

.icon-add-svg {
    background-position-y: -421px;
}

.icon-add-img {
    background-position-y: -503px;
}

.icon-reset {
    background-position-y: -584px;
}
