$white: #fff;
$gray: #faf9f6;
$light-gray: #e1e1e1;
$light-light-gray: #f5f5f5;
$dark-gray: #4D4D4D;
$red: #f52350;
$red-hover: #dc224a;
$wrapper-view-background-color: #E6E6E6;
$area-border-color: $dark-gray;
$border-color-edit: black;
$area-no-printable-background-color: rgba(255, 0, 0, 0.2);
$text-border-color: black;
$nav-views-border-color: #585858;
$toast-color: white;
$toast-background-color: red;
$icons-img: url("product-customizer-icons.png");
$primary-font: "Roboto Slab";
$secondary-font: "Open Sans";
$green: #7de2b1;

body {
    background-image: none;
    background-color: $white;
}

#product-customizer {
    width: 1170px;
    margin: 0px auto;
    .col-1 {
        float: left;
        width: 260px;
        padding: 0 0 0 15px;
        margin: 0;
    }
    .col-2 {
        float: left;
        border-left: 1px solid $light-gray;
        width: 870px;
        padding: 0 10px;
        h1 {
            display: block;
            color: black;
            border-bottom: 1px solid $light-gray;
            padding: 14px 0px 14px 21px;
            font-size: 22px;
            font-family: $primary-font;
        }
    }
}

.logo {
    width: 228px;
}

#toast {
    display: none;
    position: absolute;
    height: 35px;
    line-height: 35px;
    color: $toast-color;
    background-color: $toast-background-color;
    text-align: center;
    z-index: 1;
    width: 700px;
    border-radius: 10px;
    top: 120px;
    right: 85px;
    font-size: 14px;
}

#wrapper-view {
    position: relative;
    background-color: $wrapper-view-background-color;
    width: 860px;
    height: 700px;
    margin: auto;
    #view-col-1 {
        #view {
            position: absolute;
            width: 600px;
            left: 20px;
            top: 50px;
        }
    }
    #view-col-2 {
        float: right;
        width: 200px;
        margin-right: 15px;
        #btn-add-to-cart {
            display: none;
            width: 100%;
            margin-top: 50px;
            border-radius: 10px;
            color: white;
            background-color: $red;
            padding: 20px 20px;
            font-size: 16px;
            font-family: $primary-font;
            &:hover {
                background-color: $red-hover;
                cursor: pointer;
            }
        }
        #nav-views {
            list-style-type: none;
            text-align: center;
            margin-top: 50px;
            li {
                margin-top: 25px;
                img {
                    width: 100px;
                    max-height: 100px;
                    border: 1px solid $nav-views-border-color;
                    -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
                    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.75);
                    &:hover, &.active {
                        border: 1px solid $red;
                    }
                }
            }
        }
    }
}



#nav-main {
    list-style-type: none;
    width: 215px;
    margin-top: 50px;
    padding-left: 0;
    li {
        background-color: $white;
        height: 74px;
        display: block;
        margin-bottom: 10px;
        &:hover {
            color: $red;
            cursor: pointer;
        }
        .nav-main-item-label {
            display: inline-block;
            margin: -64px 0 0 20px;
            font-size: 16px;
            vertical-align: middle;
            font-family: $primary-font;
        }
    }
    #wrapper-nav-main-colors {
        display: none;
        margin-top: 30px;
        .nav-main-colors-close {
            margin-left: 200px;
        }
        #nav-main-colors {
            min-width: 188px;
            margin-top: 10px;
            padding: 25px 0px 15px 25px;
            border: 1px solid $light-gray;
            border-radius: 10px;
            background-color: white;
            li {
                display: inline-block;
                margin-right: 24px;
                width: 34px;
                height: 34px;
                border: 1px solid $light-gray;
                background-color: $red;
            }
        }
    }
}

#wrapper-aux-menu {
    width: 100%;
    padding: 5px;
    height: 34px;
    margin: 10px 0;
}

#aux-menu {
    display: none;
    margin: 0 auto;
    select {
        margin-top: 15px;
    }
    input {
        display: inline-block;
        height: 32px;
        width: 50px;
        margin: 0;
        padding: 0 15px;
        margin-left: 5px;
        border-radius: 5px;
        vertical-align: top;
    }
    .wrapper-sel-family {
        display: inline-block;
        width: 180px;
    }
    .ui-state-default, .ui-state-hover {
        background: none;
    }
    #inp-size {
        background: $icons-img  no-repeat;
        padding-right: 10px;
        width: 60px;
        background-position: -806px -780px;
        margin-left: 0;
    }
    .wrapper-color {
        display: inline-block;
    }
    .cp-alt-target {
        position: absolute;
        margin-left: 28px;
        margin-top: 8px;
    }
    .cp-alt {
        padding: 0px 10px 0 40px;
    }
}

.btn-fancy-close {
    position: absolute;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    background: transparent url('../js/fancybox/fancybox.png') -40px 0px;
    cursor: pointer;
}

.nav-views-close {
    margin-left: 90px;
}

.upload-form-close {
    margin-left: 285px;
}

.msg-modal-close, .reset-modal-close {
    margin-left: 145px;
    margin-top: -28px;
}

.edit-text-close {
    margin-left: 400px;
    margin-top: -50px;
}


/* IE11 IE10 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .nav-views-close                      { margin-left: 45px;  }
    .upload-form-close                    { margin-left: 585px; }
    .msg-modal-close, .reset-modal-close  { margin-left: 300px; }
}
/* IE9 */
@media screen and (min-width:0\0) {  
    .nav-views-close                      { margin-left: 45px;  }
    .upload-form-close                    { margin-left: 585px; }
    .msg-modal-close, .reset-modal-close  { margin-left: 300px; } 
}

.wrapper-custom-element {
    position: absolute !important;
}

.custom-element {
    position: absolute;
}

.btn-move-custom-element, .btn-del-custom-element, .btn-to-front-custom-element, .btn-edit-text {
    display: none;
    position: absolute;
    background: $icons-img  no-repeat;
    width: 15px;
    height: 15px;
}

.btn-move-custom-element {
    top: 0;
    left: 0;
    background-position: -10px -673px;
    cursor: move;
}

.btn-to-front-custom-element {
    top: 0;
    right: 0;
    background-position: -60px -673px;
    cursor: alias;
}

.btn-del-custom-element {
    bottom: 0;
    left: 0;
    background-position: -110px -673px;
    cursor: pointer;
}

.ui-resizable-se {
    background: $icons-img  no-repeat;
    background-position: -160px -673px;
    width: 15px;
    height: 15px;
}

.btn-edit-text {
    bottom: 0;
    width: 25%;
    left: 38%;
    border: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-image: none;
    text-align: center;
    color: black;
    background-color: green;
    span {
        font-size: 10px;
        color: white;
    }
}

.custom-element-edit {
    border: 1px dashed;
}

.custom-element-bad-position {
    border: 1px dashed red !important;
}

.area {
    border: 1px solid;
}

.area-circle {
    border-radius: 50%;
}

.area-no-printable {
    background-color: $area-no-printable-background-color;
}

.area-no-visible {
    border: 1px dashed;
}

.cp-alt-target {
    width: 15px;
    height: 15px;
}

.ui-colorpicker input {
    width: auto;
}

.ui-colorpicker label {
    margin: 0px 0px 0px 10px;
}

.text {
    overflow: hidden;
}

.text, .img, .svg {
    border: 1px dotted transparent;
    cursor: move;
}

.img img{
    width: 100%;
}

.overlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
}

#wrapper-msg-modal {
    .overlay {
        z-index: 101;
    }
    .modal {
        width: 300px;
        margin: 300px auto;
        background-color: #fff;
        padding: 15px;
        text-align: center;
        p {
            font-size: 16px;
            margin-top: 10px;
            color: black;
        }
        button {
            margin-top: 15px;
            width: 120px;
            border-radius: 5px;
            background-color: #5e5e5e;
            color: white;
            padding: 10px;
            cursor: pointer;
            &:hover {
                background-color: $red;
            }
        }
    }
}

#wrapper-reset {
    .modal {
        width: 300px;
        margin: 300px auto;
        background-color: #fff;
        padding: 15px;
        text-align: center;
        p {
            font-size: 16px;
            margin-top: 10px;
            color: black;
        }
        button {
            margin-top: 15px;
            width: 120px;
            border-radius: 5px;
            background-color: #5e5e5e;
            color: white;
            padding: 10px;
            cursor: pointer;
            &:hover {
                background-color: $red;
            }
        }
    }
}

#wrapper-upload-form {
    .modal {
        background-color: white;
        margin: 300px auto;
        width: 600px;
        h3 {
            font-family: $primary-font;
            color: black;
            font-size: 16px;
        }
        p {
            display: block;
            margin-top: 10px;
        }
        .gray-bck {
            background-color: #f5f5f5;
            padding: 20px 0;
        }
        .wrapper-inp-file {
            width: 100%;
        }
        .inp-file {
            width: 80%;
            padding: 15px 5px;
            color: $red;
        }
        #btn-submit {
            margin-top: 15px;
            width: 120px;
            border-radius: 5px;
            background-color: #5e5e5e;
            color: white;
            padding: 10px;
            &:hover {
                background-color: $red;
            }
        }
        form {
            padding: 10px;
            img.loading {
                display: none;
                margin: auto;
                margin-top: 10px;
            }
        }
    }
}

#wrapper-svg-picker {
    .modal {
        background-color: white;
        margin: 150px auto;
        width: 600px;
        max-height: 500px;
        overflow: auto;
        form {
            img.loading {
                display: none;
                margin: auto;
                margin-top: 10px;
            }
        }
    }
    ul {
        list-style-type: none;
    }
    ul li {
        display: block;
        border: 1px solid $light-gray;
        width: 60px;
        height: 60px;
        float: left;
        padding: 15px;
        cursor: pointer;
        &:hover {
            background-color: $light-gray;
            cursor: pointer;
        }
        img {
            width: 60px;
            height: 60px;
        }
    }
}

#wrapper-edit-text {
    .modal {
        width: 400px;
        margin: 300px auto;
        background-color: #fff;
        padding: 15px;
        text-align: center;
        textarea {
            font-family: $secondary-font;
            font-size: 16px;
            color: black;
            width: 100%;
            height: 200px;
            border: 1px solid #000;
            margin: 15px 0 15px 0;
        }
        button {
            margin-top: 15px;
            width: 120px;
            border-radius: 5px;
            background-color: #5e5e5e;
            color: white;
            padding: 10px;
            cursor: pointer;
            &:hover {
                background-color: $red;
            }
        }
    }
}

.icon {
    display: inline-block;
    background: $icons-img  no-repeat;
    cursor: pointer;
}

.icon-nav-main {
    width: 74px;
    height: 74px;
    &:hover{
        background-position-x: -94px;
    }
}

.icon-add-view {
    background-position: -10px -95px;
}

.icon-add-view-img {
    background-position: -10px -177px;
}

.icon-add-area {
    background-position: -10px -258px;
}

.icon-add-text {
    background-position: -10px -340px;
}

.icon-add-svg {
    background-position: -10px -421px;
}

.icon-add-img {
    background-position: -10px -503px;
}

.icon-reset {
    background-position: -10px -584px;
}

.icon-color {
    width: 70px;
    height: 70px;
    border: 4px solid $light-gray;
    background: initial;
    background-image: none;
}

.icon-area {
    width: 34px;
    height: 34px;
    margin-right: 5px;
}

.icon-area-rectangle {
    background-position: -10px -10px;
    &.active {
        background-position: -10px -51px;
    }
}

.icon-area-ellipse {
    background-position: -52px -10px;
    margin-right: 25px;
    &.active {
        background-position: -52px -51px;
    }
}

.icon-area-printable {
    width: 46px;
    background-position: -95px -10px;
    &.active {
        background-position: -95px -51px;
    }
}

.icon-area-no-printable {
    width: 48px;
    background-position: -150px -10px;
    margin-right: 25px;
    &.active {
        background-position: -150px -51px;
    }
}

.icon-area-detect-col {
    width: 48px;
    background-position: -253px -10px;
    margin-right: 0;
    &.active {
        background-position: -253px -51px;
    }
}

.icon-area-no-detect-col {
    width: 48px;
    background-position: -304px -10px;
    margin-right: 10px;
    &.active {
        background-position: -304px -51px;
    }
}

.icon-area-visible {
    width: 48px;
    background-position: -354px -10px;
    margin-right: 0;
    &.active {
        background-position: -354px -51px;
    }
}

.icon-area-no-visible {
    width: 48px;
    background-position: -404px -10px;
    margin-right: 20px;
    &.active {
        background-position: -404px -51px;
    }
}

.icon-area-ok {
    margin: 0 0 0 10px;
    background-position: -204px -10px;
}

.icon-text {
    width: 40px;
    height: 34px;
    position: absolute;
    display: inline-block;
}

.icon-text-bold {
    margin-left: 16px;
    background-position: -546px -779px;
    &.active{
        background-position: -546px -829px;
    }
}

.icon-text-italic {
    margin-left: 71px;
    background-position: -595px -779px;
    &.active{
        background-position: -595px -829px;
    }
}

.icon-text-l {
    margin-left: 128px;
    background-position: -644px -779px;
    &.active{
        background-position: -644px -829px;
    }
}

.icon-text-c {
    margin-left: 185px;
    background-position: -693px -779px;
    &.active{
        background-position: -693px -829px;
    }
}

.icon-text-r {
    margin-left: 243px;
    background-position: -742px -779px;
    margin-right: 0;
    &.active{
        background-position: -742px -829px;
    }
}

.ui-selectmenu-menu .ui-menu {
    height: 600px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
